.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search input {
  border-radius: 20px;
  height: 50px;
  width: 50%;
  padding: 10px;
  padding-left: 35px;
  border: none;
  outline:none;
  transition: all 0.3s;
}

.search input:focus{
  outline:none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  height: 55px;
  width: 55%;
}

@media (max-width: 1120px) {
  .search input {
    width: 70%;
  }

  .search input:focus {
    width: 75%;
  }
}

@media (max-height: 500px) and (max-width: 915px) {
  .search{
    transform: translate(-50%, 200%);
  }
}

@media (max-width: 300px) {
  .search input {
    height: 40px;
  }

  .search input:focus {
    height: 45px;
  }
}

@media (max-height: 300px) {
  .search {
    transform: translate(-50%, 130%);
  }
}
